{% extends 'base.html.twig' %}
{% block body %}

{% endblock %}

{% block title %}

{% endblock %}

{% block galeryList %}
    {% for gallery in galleries %}
        <li class="resp-tab-item"><span>{{ gallery.name }}</span></li>
    {% endfor %}
{% endblock %}

{% block galeryImages %}
    {% for gallery in galleries %}
        <div class="tab-1 resp-tab-content">
            {% if gallery.photo1 is not null %}
                <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                    <div class="gallery-grid">
                        <img src='{{ vich_uploader_asset(gallery, 'photo1File') }}' data-big-src='{{ vich_uploader_asset(gallery, 'photo1File') }}' class="img-responsive" alt=" " />
                        {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                    </div>
                </div>
            {% endif %}
            {% if gallery.photo2 is not null %}
            <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                <div class="gallery-grid">
                    <img src='{{ vich_uploader_asset(gallery, 'photo2File') }}' data-big-src='{{ vich_uploader_asset(gallery, 'photo2File') }}' class="img-responsive" alt=" " />
                    {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                </div>
            </div>
            {% endif %}
            {% if gallery.photo3 is not null %}
                <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                    <div class="gallery-grid">
                        <img src='{{ vich_uploader_asset(gallery, 'photo3File') }}' data-big-src='{{ vich_uploader_asset(gallery, 'photo3File') }}' class="img-responsive" alt=" " />
                        {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                    </div>
                </div>
            {% endif %}
            {% if gallery.photo4 is not null %}
            <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                <div class="gallery-grid">
                    <img src='{{ vich_uploader_asset(gallery, 'photo4File') }}' data-big-src='{{ vich_uploader_asset(gallery, 'photo4File') }}' class="img-responsive" alt=" " />
                    {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                </div>
            </div>
            {% endif %}

            <div class="clearfix"> </div>
        </div>
    {% endfor %}
    {#<div class="tab-1 resp-tab-content">#}
        {#<div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">#}
            {#<div class="gallery-grid">#}
                {#<img src='images/g2.jpg' data-big-src='images/g2.jpg' class="img-responsive" alt=" " />#}
                {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">#}
            {#<div class="gallery-grid">#}
                {#<img src='images/g6.jpg' data-big-src='images/g6.jpg' class="img-responsive" alt=" " />#}
                {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">#}
            {#<div class="gallery-grid">#}
                {#<img src='images/g4.jpg' data-big-src='images/g4.jpg' class="img-responsive" alt=" " />#}
                {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">#}
            {#<div class="gallery-grid">#}
                {#<img src='images/g7.jpg' data-big-src='images/g7.jpg' class="img-responsive" alt=" " />#}
                {#<p style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
            {#</div>#}
        {#</div>#}

        {#<div class="clearfix"> </div>#}
    {#</div>#}
{% endblock %}

